@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: roboto, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

.section-header{
    text-align: center;
    margin: 25px;
}

nav ul{
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 50px;
}

nav a{
    text-decoration: none;
    color: black;
}

#cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.card-container{
    width: 250px;
    height: 300px;
    box-shadow: 2px 2px 2px rgba(175, 175, 175, 0.5), -2px -2px 2px rgba(175, 175, 175, 0.5);
    margin: 15px;
}

.card-container img{
    display: block;
    width: 100%;
    height: 250px; 
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.card-container h3{
    text-align: center;
    margin-top: 15px;
}

/*registration*/

.form-container{
    width: 60%;
    margin: 0 auto;
}

.form-container h1{
    text-align: center;
    margin: 25px;
}

.inner-form-container{
    width: 100%;
    box-shadow: 5px 5px 5px rgba(175, 175, 175, 0.315), -5px -5px 5px rgba(175, 175, 175, 0.315);
}

.form-container form{
    padding: 40px;
}

.input-fields{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto 20px auto;
    font-family: roboto, sans-serif;
}

input:focus{
    outline: none;
}

.submit{
    height: 35px;
    width: 100%;
    padding: 7px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    margin-top: 25px;
}

.row-flashes{
    width: 100%;
    height: 50px;
    background-color: yellow;
    text-align: center;
    line-height: 50px;
}

/*Add recipe*/
.plus{
    margin-left: -3px;
}

.ingredient-field{
    width: 90%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}

.add-prep{
    width: 90%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}

.name-of-dish{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}



.additional{
    height: 22px;
    width: 100%;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid black;
    font-family: roboto, sans-serif;
}

textarea:focus{
    outline: none;
}

.container-for-plus{
    display: inline-block;
}

#category-select{
    font-family: roboto, sans-serif;
    font-size: 1em;
    padding:10px;
    width: 30%; 
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(211, 211, 211)
}

#category-select:focus{
    outline: none;
}



/*All recipes*/

.accordion-container{
    width: 60%;
    height: 30px;
    font-family: roboto, sans-serif;
    color: white;
    background-color: rgb(75, 75, 255);
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.accordion-container h2{
    text-align: left;
    display: inline-block;
}

.arrow{
    font-size: 2em;
}

.edit-button{
    width: 60px;
    height: 20px;
    padding: 5px;
    background-color: rgb(255, 217, 0);
    color: white;
    font-family: roboto, sans-serif;
    box-shadow: 2px 2px 2px rgba(94, 94, 94, 0.4);
}

.edit-button a{
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}



.accordion-body{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: none;
    padding: 15px;
    border: 1px solid black;
}

.accordion-body h3{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 30px;
}

.accordion-body ul{
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 30px;

}

.accordion-body p{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
}

/*Login*/

.not-a-user{
    text-align: center;
}













