@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body{
    font-family: roboto, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

@media(min-width: 280px){


.section-heading{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.header{
    display:none;
}

.mobile-header{
    font-size: 1.5em;
    height: 50px;
    background-color: rgba(61, 106, 242);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

#mobile-nav{
    display: none;
}


.mobile-nav-ul{
    height: 70vh;
    width: 75%;
    background-color: rgb(209, 209, 209);

}



#mobile-nav li{
    padding: 15px;
}

#mobile-nav a{
    text-decoration: none;
    color: black;
}

#home{
    margin: 0 auto;
    width: 80%;
    box-shadow: 5px 5px 7px rgba(54, 54, 54, 0.2), -5px -5px 7px rgba(54, 54, 54, 0.2);
    padding: 30px;
    grid-template-columns: auto auto;
    font-family: "handlee";
    font-size: 1.2rem;


}

.text-container-home{
    display: grid;
}

.text-container-home article{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 60px;
}

.text-container-home p{
    margin-top: 10px;
    letter-spacing: 1px;
}

.text-container-home h2{
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 2px;
}


#home img{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    display: none;
    
}


/*registration*/

.form-container{
    width: 90%;
    margin: 0 auto;
}

.form-container h1{
    text-align: center;
    margin: 25px;
}

.inner-form-container{
    width: 100%;
    box-shadow: 5px 5px 5px rgba(175, 175, 175, 0.315), -5px -5px 5px rgba(175, 175, 175, 0.315);
}

.form-container form{
    padding: 20px;
}

.input-fields{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto 20px auto;
    font-family: roboto, sans-serif;
}

input:focus{
    outline: none;
}

.submit{
    height: 40px;
    width: 100%;
    padding: 7px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0540F2;
    color: white;
    margin-top: 25px;
    font-size: 1rem;
    font-family: roboto, sans-serif;
}

.cancel{
    height: 40px;
    width: 100%;
    padding: 7px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F24130;
    margin-top: 25px;
    font-size: 1rem;
    font-family: roboto, sans-serif;
    box-sizing: border-box;
}

.cancel a{
    color: white;
    text-decoration: none;
}

.row-flashes{
    width: 100%;
    height: 50px;
    background-color: yellow;
    text-align: center;
    line-height: 50px;
}

/*Add recipe*/
.plus{
    margin-left: -3px;
}

.ingredient-field{
    width: 90%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}

.add-prep{
    width: 90%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}

.name-of-dish{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}



.additional{
    height: 22px;
    width: 100%;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid black;
    font-family: roboto, sans-serif;
}

textarea:focus{
    outline: none;
}

.container-for-plus{
    display: inline-block;
}

#category-select{
    font-family: roboto, sans-serif;
    font-size: 1em;
    padding:10px;
    width: 100%; 
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(211, 211, 211)
}

#category-select:focus{
    outline: none;
}



/*All recipes*/

.accordion-container{
    width: 90%;
    margin: 0 auto; 
}

.accordion{
    height: 30px;
    border: 1px solid black;
    font-family: roboto, sans-serif;
    color: white;
    background-color: #0540F2;
    padding: 5px;
}

.accordion:hover {
  background-color: #ccc;
}

.accordion::after{
    content: '\02795';
    font-size: 13px;
    float: left;
    display: inline;
    line-height: 30px;
    margin-right: 5px;
}

.active::after{
    content: "\2796";
}


.accordion p{
    font-size: 0.8em;
    display: inline;
    line-height: 30px;

}

.delete-button{
    padding: 3px;
    background-color: #F24130;
    font-family: roboto, sans-serif;
    width: 40px;
    height: 20px;
    float:right;
    line-height: 30px;
    margin: 3px;
    
}

.delete-button a{
    display:flex;
    line-height: 20px;
    justify-content: center;
    color: white;
    text-decoration: none; 
    font-size: 0.9em;
}



.edit-button{
    padding: 3px;
    background-color: #F24130;
    font-family: roboto, sans-serif;
    width: 40px;
    height: 20px;
    float:right;
    line-height: 30px;
    margin: 3px;
}

.edit-button a{
    display:flex;
    line-height: 20px;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}



.panel{
    background-color: rgb(255, 255, 255);
    display: none;
    padding: 5px;
    border: 1px solid black;
}

.panel h3{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

.panel ul{
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;

}

.panel p{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

/*Login*/

.not-a-user{
    text-align: center;
    margin-top: 15px;
}

.not-a-user a{
    text-decoration: none;
    color: black;
}

}




@media(min-width: 1024px){

.mobile-header{
    display: none;
}

.header{
    display: block;
}

.section-header{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}


header nav{
    height: 100px;
    background-color: rgba(61, 106, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    text-align: center;
    display:block;
}

nav li{
    display: inline-block;
    margin: 35px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

#home{
    margin: 0 auto;
    width: 70%;
    box-shadow: 5px 5px 7px rgba(54, 54, 54, 0.2), -5px -5px 7px rgba(54, 54, 54, 0.2);
    padding: 30px;
    grid-template-columns: auto auto;
    font-family: "handlee";
    font-size: 1.2rem;


}

.text-container-home{
    display: grid;
}

.text-container-home article{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 60px;
}

.text-container-home p{
    margin-top: 10px;
    letter-spacing: 1px;
}

.text-container-home h2{
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 2px;
}


#home img{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    display: inline-block;
    
}


/*registration*/

.form-container{
    width: 90%;
    margin: 0 auto;
}

.form-container h1{
    text-align: center;
    margin: 25px;
}

.inner-form-container{
    width: 100%;
    box-shadow: 5px 5px 5px rgba(175, 175, 175, 0.315), -5px -5px 5px rgba(175, 175, 175, 0.315);
}

.form-container form{
    padding: 40px;
}

.input-fields{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto 20px auto;
    font-family: roboto, sans-serif;
}

input:focus{
    outline: none;
}

.submit{
    height: 40px;
    width: 100%;
    padding: 7px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0540F2;
    color: white;
    margin-top: 25px;
    font-size: 1rem;
    font-family: roboto, sans-serif;
}

.cancel{
    height: 40px;
    width: 100%;
    padding: 7px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F24130;
    margin-top: 25px;
    font-size: 1rem;
    font-family: roboto, sans-serif;
    box-sizing: border-box;
}

.cancel a{
    color: white;
    text-decoration: none;
}

.row-flashes{
    width: 100%;
    height: 50px;
    background-color: yellow;
    text-align: center;
    line-height: 50px;
}

/*Add recipe*/
.plus{
    margin-left: -3px;
}

.ingredient-field{
    width: 90%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}

.add-prep{
    width: 90%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}

.name-of-dish{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
    box-shadow: none;
}



.additional{
    height: 22px;
    width: 100%;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid black;
    font-family: roboto, sans-serif;
}

textarea:focus{
    outline: none;
}

.container-for-plus{
    display: inline-block;
}

#category-select{
    font-family: roboto, sans-serif;
    font-size: 1em;
    padding:10px;
    width: 30%; 
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(211, 211, 211)
}

#category-select:focus{
    outline: none;
}



/*All recipes*/

.accordion-container{
    width: 60%;
    height: 30px;
    font-family: roboto, sans-serif;
    color: white;
    background-color: #0540F2;
    padding: 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20px 1fr 1fr 70px 70px;
    border: 1px solid black;
    grid-gap: 20px;
}

.accordion-container h2{
    grid-column-start: 2;

}

.arrow{
    font-size: 2em;
    grid-column-start: 1;
}

.delete-button{
    grid-column-start: 4;
    padding: 5px;
    background-color: #F24130;
    font-family: roboto, sans-serif;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.delete-button a{
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none; 
}



.edit-button{
    grid-column-start: 5;
    padding: 5px;
    background-color: #02732A;
    font-family: roboto, sans-serif;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.edit-button a{
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}



.accordion-body{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: none;
    padding: 15px;
    border: 1px solid black;
}

.accordion-body h3{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 30px;
}

.accordion-body ul{
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 30px;

}

.accordion-body p{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
}

/*Login*/

.not-a-user{
    text-align: center;
    margin-top: 15px;
}

.not-a-user a{
    text-decoration: none;
    color: black;
}

}













