{% extends "base.html" %}

{%block content%}
<section class="form-container">
    <div class="inner-form-container">
        <form action="{{url_for('add_recipie')}}" method="POST">
            <label for="dish">Name of dish</label>
            <input id="dish" class="name-of-dish" name="dish" type="text" required>
            <label for="ingredient-field">Add ingredient</label>
            <input id="ingredient-field" class="ingredient-field" name="ingredient" type="text" required>
            <div class="container-for-plus"><i class="fas fa-plus plus" onclick="newIngredients()"></i></div>
            <div id="container-new-ingredient"></div>

            <label for="add-prep">Add preparation step</label>
            <input id="add-prep" class="add-prep" name="add-prep" type="text" required>
            <div class="container-for-plus"><i class="fas fa-plus plus" onclick="newPrep()"></i></div>
            <div id="container-new-prep"></div>
            <label for="additional">Additional comments</label>
            <textarea id="additional" class="additional" name="additional"></textarea>
            <select name="category" id="category-select" required>
                <option value="" disabled selected>Choose Category</option>
                {% for i in categories %}
                <option value="{{ i.category }}">{{ i.category }}</option>
                {% endfor %}
            </select>
            <input value="Submit" type="submit" class="submit">
        </form>
    </div>
</section>

{% endblock %}