{% extends "base.html" %}

{%block content%}



<section>
    {% for i in recipes %}
    <div class="accordion-container">
        <h2>{{i.dish}}</h2>
    </div>
    <div class="accordion-body">
        <h3>Ingredients</h3>
        {% for i in i.ingredients %}
        <ul>
        <li>{{i}}</li>
        </ul>
        {% endfor %}
        <h3>Preparation steps</h3>
        {% for i in i.preparations %}
        <ul>
        <li>{{i}}</li>
        </ul>
        {%endfor%}
        <h3>Additional comments</h3>
        <p>{{i.additional_comments}}</p>
    </div>
    {% endfor %}
</section>

{% endblock %}