<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>{{title}}</title>
</head>

<body>

    <header class="header">
        <nav>

            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                {% if session.user %}
                <li><a href="{{url_for('add_recipie')}}">Add recipe</a></li>
                <li><a href="{{url_for('all_recipies')}}">All recipes</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">My recipes</a></li>
                <li><a href="{{url_for('logout')}}">Log out</a></li>
                {% else %}
                <li><a href="{{url_for('login')}}">Log in</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <header class="mobile-header">
        <i onclick="openNav()" id="hamburger" class="fas fa-bars"></i>
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{url_for('index')}}">Home</a>
        {% if session.user %}
        <a href="{{url_for('add_recipie')}}">Add recipe</a>
        <a href="{{url_for('all_recipies')}}">All recipes</a>
        <a href="{{ url_for('profile', username=session['user']) }}">My recipes</a>
        <a href="{{url_for('logout')}}">Log out</a>
        {% else %}
        <a href="{{url_for('login')}}">Log in</a>
        <a href="{{url_for('register')}}">Register</a>
        {% endif %}
    </div>

    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for i in messages %}
        <div class="row-flashes">
            <h2>{{i}}</h2>
        </div>
        {% endfor%}
        {% endif %}
        {% endwith %}
    </section>
    <h1 class="section-heading">{{ header }}</h1>


    {% block content %}
    {% endblock %}

    <!--Footer-->
    <div id="footer-container"></div>
    <footer id="footer">
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                {% if session.user %}
                <li><a href="{{url_for('add_recipie')}}">Add recipe</a></li>
                <li><a href="{{url_for('all_recipies')}}">All recipes</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">My recipes</a></li>
                <li><a href="{{url_for('logout')}}">Log out</a></li>
                {% else %}
                <li><a href="{{url_for('login')}}">Log in</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>

                {% endif %}
            </ul>
        </nav>
        <div class="contact">
            <a target="_blank" href="tel:070-2405083"><i class="fas fa-phone"></i>070-2405083</a>
            <a target="_blank" href="https://www.instagram.com/explore/tags/familyrecipes/"><i
                    class="fab fa-instagram"></i> #familyrecipes</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>