{% extends "base.html" %}

{%block content%}
<div class="button-container">
    <button id="add-ingredient">Ingredient +</button>
    <button id="remove-ingredient">Ingredient -</button>
    <button id="add-preparation-step">Prep +</button>
    <button id="remove-prep">Prep -</button>
</div>
<section class="form-container">

    <div class="inner-form-container">
        <form action="{{url_for('edit_recipe', recipe_id = recipe._id)}}" method="POST">
            <label for="dish">Name of dish</label>
            <input value="{{recipe.dish}}" id="dish" class="name-of-dish" name="dish" type="text" required>
            <label for="ingredient-field">Add ingredient</label>

            <div id="container-new-ingredient">
                {% for i in recipe.ingredients %}
                <input value="{{i}}" id="ingredient-field" class="ingredient-field" name="ingredient" type="text"
                    required>
                {%endfor%}
            </div>

            <label for="add-prep">Add preparation step</label>

            <div id="container-new-prep">
                {% for i in recipe.preparations %}
                <input value="{{i}}" id="add-prep" class="add-prep" name="add-prep" type="text" required>
                {% endfor %}
            </div>
            <label for="additional">Additional comments</label>
            <textarea id="additional" class="additional" name="additional">{{ recipe.additional_comments}}</textarea>
            <select name="category" id="category-select" required>
                <option value="" disabled>Choose Category</option>
                {% for category in categories %}
                {% if category.category == recipe.category %}
                <option value="{{ category.category }}" selected>{{ category.category }}</option>
                {% else %}
                <option value="{{ category.category }}">{{ category.category }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <a class="cancel" href="{{ url_for('profile', username=session['user']) }}">Cancel</a>
            <input class="submit" value="Edit recipe" type="submit">
        </form>
    </div>
</section>
{% block script %}
<script src="{{ url_for('static', filename='js/add_recipe.js') }}"></script>
{% endblock %}

{% endblock %}