{% extends "base.html" %}

{%block content%}
<section class="form-container">
    <div class="inner-form-container">
        <form action="{{url_for('edit_recipe', recipe_id = recipe._id)}}" method="POST">
            <label for="dish">Name of dish</label>
            <input value="{{recipe.dish}}" id="dish" class="name-of-dish" name="dish" type="text" required>
            <label for="ingredient-field">Add ingredients</label>
            <input id="ingredient-field" class="ingredient-field" name="ingredient" type="text" required>
            <div class="container-for-plus"><i class="fas fa-plus plus" onclick="newIngredients()"></i></div>
            <div id="container-new-ingredient"></div>
            
            <label for="add-prep">Add preparation step</label>
            <input id="add-prep" class="add-prep" name="add-prep" type="text" required>
            <div class="container-for-plus"><i class="fas fa-plus plus" onclick="newPrep()"></i></div>
            <div id="container-new-prep"></div>
            <label for="additional">Additional comments</label>
            <textarea id="additional" class="additional" name="additional">{{ recipe.additional_comments}}</textarea>
            <select name="category" id="category-select" required>
                <option value="" disabled>Choose Category</option>
                {% for category in categories %}
                    {% if category.category == recipe.category %}
                        <option value="{{ category.category }}" selected>{{ category.category }}</option>
                    {% else %}
                        <option value="{{ category.category }}">{{ category.category }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <a class="cancel" href="{{ url_for('profile', username=session['user']) }}">Cancel</a>
            <input class="submit" value="Edit task" type="submit">
        </form>
    </div>
</section>

{% endblock %}