{% extends "base.html" %}

{%block content%}
<section id="cards-container">
    <div class="card-container">
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="Image of falling veggies">
        <h3>Salads</h3>

    </div>
    <div class="card-container">
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="Image of falling veggies">
        <h3>Salads</h3>

    </div>
    <div class="card-container">
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="Image of falling veggies">
        <h3>Salads</h3>

    </div>
    <div class="card-container">
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="Image of falling veggies">
        <h3>Salads</h3>

    </div>
    <div class="card-container">
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="Image of falling veggies">
        <h3>Salads</h3>

    </div>
    <div class="card-container">
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="Image of falling veggies">
        <h3>Salads</h3>

    </div>

    <div class="card-container">
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="Image of falling veggies">
        <h3>Salads</h3>

    </div>

    <div class="card-container">
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="Image of falling veggies">
        <h3>Salads</h3>

    </div>
</section>




{% endblock %}