{% extends "base.html" %}

{%block content%}
<section id="home">
    <div class="text-container-home">
        <article>
            <h2>Hi family and friends!</h2>
            <p>
                 
                Have you ever called your mum to ask about the recipe for that delicious 
                dish that she always cooks for christmas? Or remembered something grandma used to cook way back
                when you were a child? 
            </p>
            <p>
                Have you ever invented a wonderful dish, cultivated it and then for some reason stopped 
                cooking it and forgotten all about it? I know i have. Let´s write it down here instead!
            </p>
            <p>
                The idea behind this site is to have a platform where we can save and share our favorite 
                dishes with eachother.
            </p>
            <p>
                Enjoy!
            </p>
            <p><b>Christian</b></p>
        </article>
        <img src="{{url_for('static', filename='images/falling_veggies.jpg')}}" alt="">
    </div>
</section>



{% endblock %}